:root {
  --color-white: #ffffff;
  --color-black: #000000;

  --color-white-transparent: #ffffff01;

  --color-gray-200: #d4d4d4;

  --color-shadow-solid: #00000025;
  --color-shadow-red: #FF2F54;
}
