*, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--color-gray-200);
}

#root {
  min-height: 100vh;
  padding-block-start: 5rem;
}
